* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  background: rgb(143, 148, 218);
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin: 0 auto;
}
h1{
    color: rgb(255, 255, 255);

}
.buttons button {
  font-size: 20px;
  padding: 10px 20px;
  margin-top: 20px;

  border: none;
  border-radius: 10px;
  transition: 0.5s;
}
.buttons button:hover {
  background-color: #d184f5;
  transform: translateY(-3px);
}
#result {
  font-size: 24px;
  font-weight: bold;
  margin-top: 20px;
  color: white;
}
.score {
  font-size: 20px;
  margin-top: 10px;
  font-weight: 900;
  color: white;
}
