body {
  text-align: center;
}

.board {
  width: 300px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.status{
    color: aqua;
}
.box {
  width: 100px;
  height: 100px;
  border: 2px solid rgb(255, 0, 0);
  font-size: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.box:hover {
  background-color: #ffb9b9;
}

h1 {
  color: rgb(230, 21, 21);
  font-size: 50px;
}
