* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#score {
  font-size: 30px;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.controls {
  margin-top: 15px;
  font-size: 24px;
  color: #000000;
}

.container {
  margin: 0 auto;
  text-align: center;
  justify-content: center;
}

.game-container {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
